/*window {
margin: 5px;
}*/

#input {
margin: 5px;
border: 2px solid blue;
background-color: blue;
}

#inner-box {
margin: 5px;
border: 2px solid yellow;
background-color: yellow;
}

#outer-box {
border-radius: 100px;
/*border: 2px solid #edb970;*/
background-color: #edb970;
}

#scroll {
margin: 5px;
border: 2px solid orange;
background-color: orange;
}

#text {
margin: 5px;
border: 2px solid cyan;
background-color: cyan;
} 
